<h2>Editing Amenity</h2>

<%= render 'form', amenity: @amenity %>
<br>
<%= link_to 'Show Image', amenities_displayimage_path(@amenity), class: "btn btn-primary" %>
<%= link_to 'List', amenities_path, class: "btn btn-primary" %>
