<div class="text-center"> 
    <h3>What this place offers</h3>
</div>
<% i = 0 %>
<% while @amenities_loop > 0 do %>
<div class="row">
  <% 4.times do %>
    <div class="col">
      <p><%= image_tag @property.amenities[i].image, class: "amenities_image p-2" %><%= @property.amenities[i].description %> </p>
    </div>
    <% i += 1 %>
  <% end %>  
</div>
<% @amenities_loop -= 1 %>
<% end %>
<a href="#" class="btn btn-secondary d-block" data-bs-toggle="modal" data-bs-target="#amenitiesModal">Show all <%= @property.amenities.length %> amenities</a>
<br>
<%= render 'layouts/amenities_modal' %>
