<div class="d-flex p-2 m-5">
  <div class="container shadow py-2">
    <h4 class="mb-3">Payment</h4>
    <%= stripe_elements_tag(submit_path: properties_confirm_path) do %>
    <% end %>
  </div>
</div>
<style>
  label {font-weight:bold; padding-bottom: 15px;}
  input[type="submit"] {
    margin-top: 15px; 
    width: 100%; 
    background-color: #6c757d; 
    color: white; 
    font-size: 1.25em;
    border-style: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
</style>