<div id="demo" class="carousel slide mx-auto" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <% (0...@property.images.length).each do |i| %>
        <% if i == 0 %>
            <button type="button" data-bs-target="#demo" data-bs-slide-to=<%= "#{i}" %> class="active"></button>
        <% else %>
            <button type="button" data-bs-target="#demo" data-bs-slide-to=<%= "#{i}" %>></button>
        <% end %>
    <% end %>
  </div>
  
  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <% first = true %>
    <% @property.images.each do |image| %>
        <% if first %>
            <div class="carousel-item active">
            <% first = false %>
        <% else %>
            <div class="carousel-item">
        <% end %>
        <%= image_tag image, class: "img-fluid mx-auto d-block" %>
            </div>
    <% end %>
  </div>
  
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<%= link_to 'Back', property_path(@property), class: "btn btn-primary" %>  
