<div id="displayField" class="bg-opacity-75 bg-white p-3">
  <h1 id="pageName">Home</h1>
  <br>
  <p id="pageText">Featured on HGTV’s House Hunters International “Where Are They Now?”, Casa Quadro is ideally located 2 blocks from the emblematic Paseo de Montejo, and 1 block behind the ever popular “Restaurant Row” in Santa Ana.<br><br>

     At over 2300 square feet, this modern, open-concept home has 2 bedrooms, 2 large bathrooms, and a garage large enough to hold an SUV.<br><br>

     A stunning 20 foot skylight in the front room provides plenty of light and allows you to stargaze at night.<br><br>

     Brazilian Granite, a huge kitchen island, and high-end appliances create a dream Chef’s kitchen.<br><br>

     The gorgeous backyard, complete with filtered pool and lush gardens provide your own private Oasis to enjoy the lovely Merida weather.<br><br>

     4 outdoor terraces give you ample opportunity to truly have an outdoor living experience in various areas of this home. </p>
</div>
