<h1> Your Reservation for Casa 49 is confirmed! </h1>
<p> Hello <%= @user.full_name %>. <br> <br>

Your reservation for <%= display_date(@reservation.start_date) %> - <%= display_date(@reservation.end_date) %>
is confirmed. If you have any questions or concerns please let me know by replying to this 
email. We look forward to seeing you. <br> <br>

Kind Regards,  <br> <br>

Erich Briehl. </p>
