<!-- log in sign up Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h5 class="modal-title" id="signInModalLabel">Log In Or Sign Up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 class="modal-title" id="signInModalLabel">Welcome To Casa 49</h3>
        <div class="col">
            <input type="email" class="form-control" placeholder="Email" aria-label="Email" id="email">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" onclick="signUpInUser()">Continue</button>
                <h5 class="text-center">Or</h5>
                <button type="button" class="btn btn-primary"><i class="bi bi-facebook"></i> Continue with Facebook</button>
                <button type="button" class="btn btn-primary"><i class="bi bi-google"></i> Continue with Google</button>
             </div>
        </div>
      </div>
    </div>
  </div>
</div>